.projects-container{
    margin-top: 80px;
}

.projects-part{
    height: 25%;
    display: flex;
    justify-content: space-around;
}

.projects-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.projects-header-title{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    
    letter-spacing: -2.5px;
    
    color: #FFFFFF;
}

.projects-header-button{

}