.project-container{
    height: 100%;
    max-height: 500px;
    min-height: 398px;
    display: flex;
    flex-direction: column;
    margin: 30px 15px;
}

.project-image{
    width: 100%;
    line-height: 0;
}

.project-details{

}

.project-title{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #FFFFFF;
}

.project-skills{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    
    color: #D9D9D9;
}

.project-buttons{
    position:absolute;
    width: 540px;
    height: 400px;
    overflow: hidden;

}

.project-overlay{
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    transition: .2s ease-out;
    transform: translateY(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-overlay div{
    margin: 10px;
}

.project-container:hover > .project-buttons .project-overlay{
    transform: translateY(0%);
}

@media( max-width: 800px){
    .project-container{
        max-height: fit-content;
        max-width: 340px;
    }
    .project-buttons{
        position:static;
        height: 100px;

    }
    .project-overlay{
        transform: none;
        flex-direction:row;
        background-color: transparent;
        justify-content: left;
        align-items: center;
    }

    .project-overlay div{
        margin: 0 20px 0 0;
    }

    .project-skills{
        margin-bottom: 0;
    }

    .project-image img{
        width: 340px;
    }
}

@media(max-width: 400px){
    .project-image img{
        width: 100%;
    }
}