.skills-continer{
    width: 80%;
}

.skills-part{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
}

.skills-extra{
    position: absolute;
    right: 0;
    transform: translateY(-100px);
}

.skills-extra > img{
    transform: rotate(180deg);
}

@media (max-width: 800px){
    .skills-part{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 150px);
    }

    .skills-extra img{
        width: 200px;
        object-fit:none;
        height: 200px;
        object-position: 100%;
    }

    
}

@media(max-width: 400px){
    .skills-part{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 105px );
    }

    .skills-container{
        border-bottom: white 1px solid;
    }
}